<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/SuperAdmin/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperAdmin/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperAdmin/css/colors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperAdmin/css/super-admin-login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zerix_fe_dev.styles.css" asp-append-version="true" />

    <script src="~/js/forms.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
        rel="stylesheet">

</head>

<body>
    @RenderBody()
</body>