@page
@model SuperAdminChangePasswordModel
@{
    Layout = "SuperAdmin/_Layout";
    ViewData["Title"] = "Change Password";
}

<div class="container-fluid px-0">
    <div class="min-vh-100 d-flex flex-row justify-content-center align-items-center">
        <!-- Login Form Section -->
        <div class="login-section d-flex flex-column justify-content-start justify-content-md-center align-items-center">
            <div
                class="d-flex justify-content-md-center justify-content-center login-contents width my-4 mb-0 py-4 pb-md-4 mb-md-2">
                <img src="/superadmin/images/new-zerix-logo.svg" alt="ZerixText" class="logo-img">
            </div>
            <div
                class="card border-0 ud-shadow bg-color-white flex-column justify-content-md-center justify-content-center align-items-center change-password container px-0">
                <form
                    class="card-body bg-color-fff w-100 d-flex flex-column justify-content-md-center justify-content-center px-0">
                    <div class="d-flex flex-column justify-content-center align-items-center gap-3 my-4">
                        <div class="change-password section">
                            <div class="text-start width welcome-text mb-1 fs-24">Change Password</div>
                            <div class="sub-text mb-3 color-878A99 fs-15">Enter a new password to
                                change your password
                            </div>
                        </div>
                        <div class="mb-3 change-password section">
                            <label for="oldPassword" class="form-label fs-15">Old Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control fs-15" id="oldPassword">
                                <button class="btn btn-show-password" type="button" id="toggleOldPassword"
                                    onclick="togglePasswordVisibility('toggleOldPassword', 'oldPassword')">
                                    <i class="bi bi-eye color-878A99"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 change-password section">
                            <label for="newPassword" class="form-label fs-15">New Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control fs-15" id="newPassword">
                                <button class="btn btn-show-password" type="button" id="toggleNewPassword"
                                    onclick="togglePasswordVisibility('toggleNewPassword', 'newPassword')">
                                    <i class="bi bi-eye color-878A99"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3 change-password section">
                            <label for="password" class="form-label fs-15">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control fs-15" id="password">
                                <button class="btn btn-show-password" type="button" id="togglePassword"
                                    onclick="togglePasswordVisibility('togglePassword', 'password')">
                                    <i class="bi bi-eye color-878A99"></i>
                                </button>
                            </div>
                        </div>
                        <button type="submit"
                            class="change-password section bg-color-ff5400 log-in-btn py-2 fs-15">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
