@page
@model SuperAdminPasswordResetCode
@{
Layout = "SuperAdmin/_Layout";
ViewData["Title"] = "Password Reset Code";
}

<div class="container-fluid px-0">
    <div class="min-vh-100 d-flex flex-row justify-content-center align-items-start align-items-md-center">
        <!-- Login Form Section -->
        <div class="d-flex flex-column justify-content-start justify-content-md-center align-items-center">
            <div
                class="d-flex justify-content-md-center justify-content-center login-contents width my-4 pt-4 mt-md-0 pt-md-0 pb-md-4">


                <img src="/superadmin/images/new-zerix-logo.svg" alt="ZerixText" class="logo-img">
            </div>
            <div
                class="card border-0 ud-shadow bg-color-white flex-column justify-content-md-center justify-content-center align-items-center password-reset-code container px-0">
                <form
                    class="card-body bg-color-fff w-100 d-flex flex-column justify-content-md-center justify-content-start px-0"
                    id="passwordResetCodeForm">
                    <div class="d-flex flex-column justify-content-center align-items-center gap-3 my-4">
                        <div class="section">
                            <div class="text-start width welcome-text mb-1 fs-24">We sent you a code</div>
                            <div class="sub-text mb-3 color-878A99 fs-15">Check your email to get your confirmation
                                code. If you need to request a new code, go back and reselect a confirmation.
                            </div>
                        </div>

                        <div class="mb-3 section">
                            <label for="" class="form-label fs-15">Enter your Code</label>
                            <div class="input-group">
                                <input type="" class="form-control fs-15" id="">
                            </div>
                            <span class="d-none font-red">Invalid Code</span>
                        </div>
                        <button type="submit" class="section bg-color-ff5400 log-in-btn py-2 fs-15">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('passwordResetCodeForm');
        if (form) {
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                window.location.href = '/superadmin/change-password';
            });
        }
    });
</script>