@page
@model zerix_fe_dev.Pages.Scheduler.SchedulerIndexModel
@{
    Layout = "_Scheduler";
    ViewData["Title"] = "Scheduler";
    ViewData["User"] = "Admin";
}

@await Html.PartialAsync("user_view/_Navigation")

@await Html.PartialAsync("user_view/_MobileSidebar")

<div class="container px-4 my-3 pt-md-5 pt-3"> 
    @await Html.PartialAsync("user_view/_ServiceCategory")
    
    @await Html.PartialAsync("user_view/_ServiceCategorySelection")
    
    @await Html.PartialAsync("user_view/_AppointmentDetails")

    @await Html.PartialAsync("user_view/_AppointmentList")

    @await Html.PartialAsync("user_view/_AppointmentSelection")

    @await Html.PartialAsync("user_view/_DateTimeSelection")

    @await Html.PartialAsync("user_view/_InformationView")

    @await Html.PartialAsync("user_view/_PaymentMethod2")
</div>

@await Html.PartialAsync("user_view/_ReleaseSlotModal")

@await Html.PartialAsync("_Styles")

@await Html.PartialAsync("_Scripts")

