/* colors.css */
.font-orange {
  color: #ff5400;
}

.font-red {
  color: #d40000;
}

.font-darkgray {
  color: #495057;
}

.color-ced4da {
  color: #ced4da;
}

.color-878A99 {
  color: #878a99;
}

.color-495057 {
  color: #495057;
}

.color-D40000 {
  color: #d40000;
}

.color-84818A {
  color: #84818a;
}

.color-fff {
  color: #fff;
}

.color-212529 {
  color: #212529;
}
.color-809FB8 {
  color: #809fb8 !important;
}

.color-17181A {
  color: #17181a !important;
}

.bg-color-212529 {
  background-color: #212529;
}

.bg-color-ff5400 {
  background-color: #ff5400;
}

.bg-color-fff {
  background-color: #fff;
}

.bg-color-878A99 {
  background-color: #878a99;
}

.bg-color-E9EBEC80 {
  background-color: #e9ebec80;
}

.divider-color {
  background-color: #e9ebec;
}

.bg-color-FFF7EC {
  background-color: #fff7ec;
}

.bg-color-ced4da {
  background-color: #ced4da;
}
