@page
@model NotificationsIndexModel
@{
Layout = "_Notifications";
ViewData["Title"] = "Notification Wall";
ViewData["User"] = "Admin";
}


<nav
    class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-2 py-3 py-md-3">
    <div class="container px-4" id="desktop-navbar">
        <!-- Messages dropdown button -->
        <ul class="navbar-nav me-3">
            <li class="nav-item dropdown d-none d-md-block">
                <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2"
                    href="#" id="navbarDropDownNotifications" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="~/images/icons/notification.svg" height="28" width="28" alt="Logo"
                        class="d-inline-block align-top me-2 color-primary" />
                    <span class="txt-color-primary fs-20 fw-400 me-3 font-orange d-none d-lg-block">Notification
                        Wall</span>
                    <span class="txt-color-primary fs-16 fw-400 me-3 font-orange d-block d-lg-none">Notification
                        Wall</span>
                    <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down"
                        class="d-inline-block" />
                </a>
                <ul class="dropdown-menu dropdown-menu-lg ud-shadow bg-body-tertiary rounded border-0"
                    aria-labelledby="navbarDropDownNotifications">
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/notifications/create-notification">
                            Create Notification
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/notifications/sent-notifications">
                            Sent Notifications
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item d-block d-md-none">
                <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2"
                    href="#" id="navbarDropdownOffcanvasToggle" role="button" data-bs-toggle="offcanvas"
                    data-bs-target="#notificationsOffcanvasDropdown" aria-controls="offcanvasDropdown"
                    aria-expanded="false">
                    <img src="~/images/icons/settings.svg" height="21" width="21" alt="Logo"
                        class="d-inline-block align-top ms-1 me-2 color-primary" />
                    <span class="txt-color-primary me-3 fs-16 fw-400">Notification Wall</span>
                    <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down"
                        class="d-inline-block me-2" />
                </a>
            </li>
        </ul>

        <!-- Off-canvas toggle button for mobile dashboard -->
        <button class="navbar-toggler custom-toggler d-block d-lg-none pe-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#DashboardoffcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#FF5400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="6" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="9" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>

        <!-- Navbar content for larger screens -->
        <div class="justify-content-end d-none d-lg-flex" id="navbarNavDropdown">
            <div class="navbar-nav d-flex flex-row dashboard-navbar">
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center txt-color-primary"
                    href="/messages">
                    <img src="~/images/icons/messages.svg" height="30" width="30" alt="Messages" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Messages</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center txt-color-primary"
                    href="/contacts">
                    <img src="~/images/icons/contacts.svg" height="30" width="30" alt="Contacts" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Contacts</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/keyword.svg" height="30" width="30" alt="Keywords" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Keywords</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/reports.svg" height="30" width="30" alt="Reports" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Reports</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/email">
                    <img src="~/images/icons/at-mail.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Email</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/poll.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Pollster</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/scheduler.svg" height="30" width="30" alt="Scheduler" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Scheduler</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/settings/users">
                    <img src="~/images/icons/settings.svg" height="30" width="30" alt="settings" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Settings</span>
                </a>
                <a class="nav-link box btn-orange dashboard-items border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/permissiondenied">
                    <img src="~/images/icons/others.svg" height="30" width="30" alt="Others" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Others</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- Off-canvas sidebar for mobile view dashboard -->
<div class="offcanvas offcanvas-end d-block d-lg-none offcanvas-half-width border border-end-0 rounded-start d-flex flex-column"
    tabindex="-1" id="DashboardoffcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header py-2 mt-2">
        <div class="mt-4 offcanvas-title fw-bold fs-24 px-1 " id="offcanvasNavbarLabel">Dashboard</div>
    </div>
    <hr class="my-0 mx-3">
    <div class="offcanvas-body mt-4">
        <!-- Main navigation links -->
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav me-3 w-100">
                <!-- Corrected links without data-bs-toggle and unique ids -->
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/messages">
                        <img src="~/images/icons/mail-black.svg" alt="Contacts" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Messages</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts">
                        <img src="~/images/icons/contacts-black.svg" alt="Contacts" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Contacts</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#keywords">
                        <img src="~/images/icons/keyword-black.svg" alt="Keywords" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Keywords</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center bg-color-E9EBEC80"
                        href="#notifications">
                        <img src="~/images/icons/notification.svg" alt="Notifications" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light font-orange">Notifications</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#reports">
                        <img src="~/images/icons/reports-black.svg" alt="Reports" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Reports</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                        <img src="~/images/icons/at-mail-black.svg" alt="Email" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Email</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                        <img src="~/images/icons/poll-black.svg" alt="Pollster" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Pollster</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#scheduler">
                        <img src="~/images/icons/scheduler-black.svg" alt="Scheduler" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Scheduler</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/settings/users">
                        <img src="~/images/icons/settings-black.svg" alt="Settings" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Settings</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/permissiondenied">
                        <img src="~/images/icons/others-black.svg" alt="Others" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Others</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Logout link at the bottom -->
    </div>
    <div class="mt-auto my-4">
        <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#logout">
            <img src="/images/icons/logout-black.svg" alt="Logout" height="21" width="24" class="icon me-2" />
            <span class="fs-16 fw-light">Logout</span>
        </a>
    </div>
</div>
<!-- Off-canvas sidebar for mobile view dashboard -->
<!-- Notifications off-canvas -->
<div class="offcanvas offcanvas-bottom d-block d-lg-none border border-end-0 rounded-top d-flex flex-column"
    tabindex="-1" id="notificationsOffcanvasDropdown" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body mt-2">
        <!-- Main navigation links -->
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav me-3">
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center"
                        href="/notifications/create-notification">
                        <span class="fs-16 fw-light">Create Notification</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center"
                        href="/notifications/sent-notifications">
                        <span class="fs-16 fw-light">Sent Notifications</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container my-4 px-4">
    <div class="d-none d-md-flex justify-content-between my-4 ">
        <div class="fs-24 color-495057 min-h-title">NOTIFICATION WALL</div>
        <div class="d-flex gap-4">
            <form class="d-flex justify-content-end">
                <div class="input-group me-1">
                    <select name="sources" id="sources" class="custom-select wide logs sources"
                        placeholder="Choose Author">
                        <option value="1">Author 1</option>
                        <option value="2">Author 2</option>
                        <option value="3">Author 3</option>
                        <option value="4">Author 4</option>
                        <option value="5">Author 5</option>
                        <option value="6">Author 6</option>
                        <option value="7">Author 7</option>
                        <option value="8">Author 8</option>
                        <option value="9">Author 9</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <!-- Mobile View -->
    <div class="d-flex d-md-none flex-column my-4 notification-wall">
        <div class="d-flex justify-content-between align-items-center">
            <div class="fs-16 color-495057 my-2">NOTIFICATION WALL</div>
        </div>
        <div class="d-flex py-3">
            <form class="d-flex select-username mb-2">
                <select name="sources" id="sources" class="custom-select wide logs sources" placeholder="Choose Author">
                    <option value="1">Author 1</option>
                    <option value="2">Author 2</option>
                    <option value="3">Author 3</option>
                    <option value="4">Author 4</option>
                    <option value="5">Author 5</option>
                    <option value="6">Author 6</option>
                    <option value="7">Author 7</option>
                    <option value="8">Author 8</option>
                    <option value="9">Author 9</option>
                </select>
            </form>
        </div>
    </div>

    <div class="container px-0 pb-2 pb-md-0 notification-wall scroll">
        <div class="card notifications bg-color-fff mb-3">
            <div class="card-body rounded card-with-indicator p-4 bg-color-fff">
                <div class="triangle-indicator"></div>
                @* <img src="~/images/icons/ant-design--alert-outlined.svg" height="24" width="24" alt="urgent"
                    class="icon-indicator" /> *@
                <img src="~/images/icons/urgent.png" height="24" width="24" alt="urgent" class="icon-indicator" />
                <div class="row justify-content-between">
                    <div class="card-left col-12 col-lg-8 my-4 m-lg-4 px-4">
                        <div class="card-title fs-16 font-orange">Internet Access Interruption</div>
                        <div class="card-text">
                            Please be informed that you will experience slow internet access connection due to repair
                            and ongoing maintenance being conducted today.
                        </div>
                    </div>
                    <div
                        class="card-right col-12 col-lg-3 d-flex flex-lg-column flex-row justify-content-lg-evenly justify-content-between align-items-lg-end align-items-center gap-2 px-4">
                        <div class="d-flex flex-column align-items-start align-items-lg-end gap-lg-1 gap-1">
                            <div class="d-flex flex-row align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"
                                    class="color-495057 me-1">
                                    <rect width="416" height="384" x="48" y="80" fill="none" stroke="currentColor"
                                        stroke-linejoin="round" stroke-width="32" rx="48" />
                                    <circle cx="296" cy="232" r="24" fill="currentColor" />
                                    <circle cx="376" cy="232" r="24" fill="currentColor" />
                                    <circle cx="296" cy="312" r="24" fill="currentColor" />
                                    <circle cx="376" cy="312" r="24" fill="currentColor" />
                                    <circle cx="136" cy="312" r="24" fill="currentColor" />
                                    <circle cx="216" cy="312" r="24" fill="currentColor" />
                                    <circle cx="136" cy="392" r="24" fill="currentColor" />
                                    <circle cx="216" cy="392" r="24" fill="currentColor" />
                                    <circle cx="296" cy="392" r="24" fill="currentColor" />
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="32" d="M128 48v32m256-32v32" />
                                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"
                                        d="M464 160H48" />
                                </svg>
                                <span class="text-muted">October 25, 2023</span>
                            </div>
                            <div class="text-muted text-lg-end text-start">
                                <span class="text-muted">Author: </span>
                                <strong class="text-danger">IT</strong>
                            </div>
                        </div>
                        <button
                            class="btn btn-outline mobile-icon-only fs-14 d-flex align-items-center align-self-start align-self-lg-end">
                            <img src="/images/icons/delete-outline.svg" alt="Delete" height="18" width="18"
                                class="me-lg-1">
                            <span class="d-lg-block d-none">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card notifications bg-color-fff mb-4">
            <div class="card-body rounded card-with-indicator p-4 bg-color-fff">
                <div class="row justify-content-between">
                    <div class="card-left col-12 col-lg-8 my-4 m-lg-4 px-4">
                        <div class="card-title fs-16 font-orange">Internet Access Interruption</div>
                        <div class="card-text">
                            Please be informed that you will experience slow internet access connection due to repair
                            and ongoing maintenance being conducted today.
                        </div>
                    </div>
                    <div
                        class="card-right col-12 col-lg-3 d-flex flex-lg-column flex-row justify-content-lg-evenly justify-content-between align-items-lg-end align-items-center gap-2 px-4">
                        <div class="d-flex flex-column align-items-start align-items-lg-end gap-lg-1 gap-1">
                            <div class="d-flex flex-row align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"
                                    class="color-495057 me-1">
                                    <rect width="416" height="384" x="48" y="80" fill="none" stroke="currentColor"
                                        stroke-linejoin="round" stroke-width="32" rx="48" />
                                    <circle cx="296" cy="232" r="24" fill="currentColor" />
                                    <circle cx="376" cy="232" r="24" fill="currentColor" />
                                    <circle cx="296" cy="312" r="24" fill="currentColor" />
                                    <circle cx="376" cy="312" r="24" fill="currentColor" />
                                    <circle cx="136" cy="312" r="24" fill="currentColor" />
                                    <circle cx="216" cy="312" r="24" fill="currentColor" />
                                    <circle cx="136" cy="392" r="24" fill="currentColor" />
                                    <circle cx="216" cy="392" r="24" fill="currentColor" />
                                    <circle cx="296" cy="392" r="24" fill="currentColor" />
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="32" d="M128 48v32m256-32v32" />
                                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"
                                        d="M464 160H48" />
                                </svg>
                                <span class="text-muted">October 25, 2023</span>
                            </div>
                            <div class="text-muted text-lg-end text-start">
                                <span class="text-muted">Author: </span>
                                <strong class="text-danger">LONG NAME AND MORE CHAR</strong>
                            </div>
                        </div>
                        <button
                            class="btn btn-outline mobile-icon-only fs-14 d-flex align-items-center align-self-start align-self-lg-end">
                            <img src="/images/icons/delete-outline.svg" alt="Delete" height="18" width="18"
                                class="me-lg-1">
                            <span class="d-lg-block d-none">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card notifications bg-color-fff mb-4">
            <div class="card-body rounded card-with-indicator p-4 bg-color-fff">
                <div class="row justify-content-between">
                    <div class="card-left col-12 col-lg-8 my-4 m-lg-4 px-4">
                        <div class="card-title fs-16 font-orange">Internet Access Interruption</div>
                        <div class="card-text">
                            Please be informed that you will experience slow internet access connection due to repair
                            and ongoing maintenance being conducted today.
                        </div>
                    </div>
                    <div
                        class="card-right col-12 col-lg-3 d-flex flex-lg-column flex-row justify-content-lg-evenly justify-content-between align-items-lg-end align-items-center gap-2 px-4">
                        <div class="d-flex flex-column align-items-start align-items-lg-end gap-lg-1 gap-1">
                            <div class="d-flex flex-row align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512"
                                    class="color-495057 me-1">
                                    <rect width="416" height="384" x="48" y="80" fill="none" stroke="currentColor"
                                        stroke-linejoin="round" stroke-width="32" rx="48" />
                                    <circle cx="296" cy="232" r="24" fill="currentColor" />
                                    <circle cx="376" cy="232" r="24" fill="currentColor" />
                                    <circle cx="296" cy="312" r="24" fill="currentColor" />
                                    <circle cx="376" cy="312" r="24" fill="currentColor" />
                                    <circle cx="136" cy="312" r="24" fill="currentColor" />
                                    <circle cx="216" cy="312" r="24" fill="currentColor" />
                                    <circle cx="136" cy="392" r="24" fill="currentColor" />
                                    <circle cx="216" cy="392" r="24" fill="currentColor" />
                                    <circle cx="296" cy="392" r="24" fill="currentColor" />
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="32" d="M128 48v32m256-32v32" />
                                    <path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"
                                        d="M464 160H48" />
                                </svg>
                                <span class="text-muted">October 25, 2023</span>
                            </div>
                            <div class="text-muted text-lg-end text-start">
                                <span class="text-muted">Author: </span>
                                <strong class="text-danger">IT</strong>
                            </div>
                        </div>
                        <button
                            class="btn btn-outline mobile-icon-only fs-14 d-flex align-items-center align-self-start align-self-lg-end">
                            <img src="/images/icons/delete-outline.svg" alt="Delete" height="18" width="18"
                                class="me-lg-1">
                            <span class="d-lg-block d-none">Delete</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/form-select.js"></script>

<script>
    OverlayScrollbars(document.querySelectorAll('.scroll'), {
        scrollbars: {
            visibility: 'visible',
        },
        overflowBehavior: {
            y: "scroll",
            x: "scroll"
        },
    });
</script>