.btn.btn-outline {
  color: #1d4ed8;
  background-color: white;
  border: 1px solid #e7eaf0;
  width: 90px;
  height: 40px;
  max-width: 90px;
  max-height: 40px;
}

.btn.btn-outline-add-button {
  color: #1d4ed8;
  background-color: white;
  border: 1px solid #e7eaf0;
  width: 90px;
  height: 45px;
  max-width: 90px;
  max-height: 45px;
}

.btn.btn-outline:hover {
  color: #1d4ed8;
  background-color: white;
  border: 1px solid #1e40af;
}

.btn.btn-fill {
  color: white;
  background-color: #1d4ed8;
  border: 1px solid #1d4ed8;
  width: 90px;
  height: 40px;
  max-width: 90px;
  max-height: 40px;
}

.btn.btn-fill-add-button-recipients {
  color: white;
  background-color: #1d4ed8;
  border: 1px solid #1d4ed8;
  width: 90px;
  height: 50px;
  max-width: 90px;
  max-height: 50px;
}

.btn.btn-fill:hover {
  color: white;
  background-color: #1e40af;
  border: 1px solid #1e40af;
}

@media (max-width: 576px) {
  .btn.btn-fill.mobile-icon-only,
  .btn.btn-outline.mobile-icon-only {
    width: 44px;
    height: 40px;
  }
}
