@page
@model ProtoModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="center">
    <select name="sources" id="sources" class="custom-select sources" placeholder="10">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="40">120</option>
    </select>
</div>

<script src="/js/form-select.js"></script>
