@page
@model ImportContactsPage
@{
Layout = "_Contacts";
ViewData["Title"] = "Import Contacts";
ViewData["User"] = "Admin";
}

<nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2 py-3 py-md-3">
    <div class="container px-4" id="desktop-navbar">
        <!-- Messages dropdown button -->
        <ul class="navbar-nav me-3">
            <li class="nav-item dropdown d-none d-md-block">
                <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2"
                    href="#" id="navbarDropDownContacts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/images/icons/contacts.svg" height="30" width="30" alt="Logo"
                        class="d-inline-block align-top me-2 color-primary" />
                    <span class="txt-color-primary fs-20 fw-400 me-3 font-orange">Import</span>
                    <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down"
                        class="d-inline-block" />
                </a>
                <ul class="dropdown-menu dropdown-menu-lg ud-shadow bg-body-tertiary rounded border-0"
                    aria-labelledby="navbarDropDownContacts">
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts">
                            Contacts
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/groups">
                            Groups
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/blocklist">
                            Blocklist
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/custom-field">
                            Custom Field
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item d-block d-md-none">
                <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2"
                    href="#" id="navbarDropdownOffcanvasToggle" role="button" data-bs-toggle="offcanvas"
                    data-bs-target="#contactGroupsOffCanvas" aria-controls="offcanvasDropdown" aria-expanded="false">
                    <img src="~/images/icons/contacts.svg" height="21" width="21" alt="Logo"
                        class="d-inline-block align-top ms-1 me-2 color-primary" />
                    <span class="txt-color-primary me-3 fs-16 fw-400">Import</span>
                    <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down"
                        class="d-inline-block me-2" />
                </a>
            </li>
        </ul>

        <!-- Off-canvas toggle button for mobile dashboard -->
        <button class="navbar-toggler custom-toggler d-block d-lg-none pe-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#DashboardoffcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#FF5400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="6" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="9" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>

        <!-- Navbar content for larger screens -->
        <div class="justify-content-end d-none d-lg-flex" id="navbarNavDropdown">
            <div class="navbar-nav d-flex flex-row dashboard-navbar">
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center txt-color-primary"
                    href="/messages">
                    <img src="~/images/icons/messages.svg" height="30" width="30" alt="Messages" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Messages</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/keyword.svg" height="30" width="30" alt="Keywords" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Keywords</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/notifications">
                    <img src="~/images/icons/notification.svg" height="30" width="30" alt="Notifications"
                        class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Notifications</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/reports.svg" height="30" width="30" alt="Reports" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Reports</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/email">
                    <img src="~/images/icons/at-mail.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Email</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/poll.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Pollster</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/scheduler.svg" height="30" width="30" alt="Scheduler" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Scheduler</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/settings/users">
                    <img src="~/images/icons/settings.svg" height="30" width="30" alt="settings" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Settings</span>
                </a>
                <a class="nav-link box btn-orange dashboard-items border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/permissiondenied">
                    <img src="~/images/icons/others.svg" height="30" width="30" alt="Others" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Others</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container px-4 d-none" id="backToChat">
        <div class="d-flex flex-row justify-content-start align-items-center align-middle">
            <img src="~/images/icons/go-back.svg" height="24" width="24" alt="Logo"
                class="align-middle align-self-center me-2 color-primary" />
            <span class="font-orange fs-20">Use Template</span>
        </div>
    </div>
</nav>

<!-- Off-canvas sidebar for mobile view dashboard -->
<div class="offcanvas offcanvas-end d-block d-lg-none offcanvas-half-width border border-end-0 rounded-start d-flex flex-column"
    tabindex="-1" id="DashboardoffcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header py-2 mt-2">
        <div class="mt-4 offcanvas-title fw-bold fs-24 px-1 " id="offcanvasNavbarLabel">Dashboard</div>
    </div>
    <hr class="my-0 mx-3">
    <div class="offcanvas-body mt-4">
        <!-- Main navigation links -->
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav me-3 w-100">
                <!-- Corrected links without data-bs-toggle and unique ids -->
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center " href="/messages">
                        <img src="~/images/icons/mail-black.svg" alt="Messages" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light ">Messages</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center bg-color-E9EBEC80" href="/contacts">
                        <img src="~/images/icons/contacts.svg" alt="Contacts" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light font-orange">Contacts</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#keywords">
                        <img src="~/images/icons/keyword-black.svg" alt="Keywords" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Keywords</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/notifications">
                        <img src="~/images/icons/notification-black.svg" alt="Notifications" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Notifications</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#reports">
                        <img src="~/images/icons/reports-black.svg" alt="Reports" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Reports</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                        <img src="~/images/icons/at-mail-black.svg" alt="Email" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Email</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                        <img src="~/images/icons/poll-black.svg" alt="Pollster" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Pollster</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#scheduler">
                        <img src="~/images/icons/scheduler-black.svg" alt="Scheduler" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Scheduler</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/settings/users">
                        <img src="~/images/icons/settings-black.svg" alt="Settings" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Settings</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/permissiondenied">
                        <img src="~/images/icons/others-black.svg" alt="Others" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Others</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Logout link at the bottom -->
    </div>
    <div class="mt-auto my-4">
        <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#logout">
            <img src="/images/icons/logout-black.svg" alt="Logout" height="21" width="24" class="icon me-2" />
            <span class="fs-16 fw-light">Logout</span>
        </a>
    </div>
</div>

<!-- Off-canvas sidebar for mobile view dashboard -->
<!-- Messages off-canvas -->
<div class="offcanvas offcanvas-bottom d-block d-md-none border border-end-0 rounded-top d-flex flex-column"
    tabindex="-1" id="contactGroupsOffCanvas" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body mt-2">
        <!-- Main navigation links -->
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav me-3">
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts">
                        <span class="fs-16 fw-light">Contacts</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/groups">
                        <span class="fs-16 fw-light">Groups</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/blocklist">
                        <span class="fs-16 fw-light">Blocklist</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/custom-field">
                        <span class="fs-16 fw-light">Custom Field</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container import-contacts px-4 my-2 pt-md-4 pt-2" id="importContactsSection">
    <div class="flex-column justify-content-between">
        <div class="d-md-flex d-none flex-row gap-4 align-items-start justify-content-start mb-3">
            <div class="fs-24 color-495057">IMPORT CONTACTS</div>
        </div>
        <div class="d-md-none d-flex flex-row align-items-center justify-content-between my-3">
            <span class="fs-20 color-495057">IMPORT CONTACTS</span>
        </div>
    </div>
    @* <div class="main d-flex flex-row justify-content-center"> </div> *@
    <div class="main row justify-content-center align-items-center h-100 mt-md-0 mt-4">
        <div class="col-12 col-md-7 my-md-0 mt-3">
            <div class="d-flex mb-2 justify-content-between px-0">
                <a href="#" class="text-decoration-none fs-16 font-orange">
                    <i class="bi bi-download me-2"></i>
                    Click here to download Header</a>
                <a href="#" class="fs-16 color-878A99">Remove File</a>
            </div>
            <div class="upload-area mb-2 d-flex flex-column justify-content-center align-items-center" id="uploadArea">
                <i class="bi bi-cloud-arrow-up" style="font-size: 3rem;"></i>
                <div id="uploadText">Drag and Drop File</div>
                <div class="fs-12 color-ced4da">(csv or xsl)</div>
                <indivut type="file" id="fileInput" class="d-none">
            </div>
            <div class="d-flex mb-2 justify-content-between px-0">
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" id="first-row-header-enabled">
                    <label class="form-check-label fs-16 color-212529" for="first-row-header-enabled">Do not include the
                        first row
                        (Header)</label>
                </div>

            </div>
            <div class="px-0">
                <button class="btn bg-color-ff5400 w-100 color-fff fs-16" id="uploadButton">Upload</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/form-select.js"></script>

<script>
    OverlayScrollbars(document.querySelectorAll('.scroll'), {
        scrollbars: {
            visibility: 'visible',
        },
        overflowBehavior: {
            y: "scroll",
            x: "scroll"
        },
    });
</script>


<script>
    let show_block_listed = false;
    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById('changeViewButton').addEventListener('click', function (e) {
            e.preventDefault();
            const title = document.getElementById("title")
            const button = document.getElementById("changeViewButton")
            const add_button = document.getElementById("addContact")
            const search = document.getElementById("sections-search")
            const table_blocklist = document.getElementById("table-blocklist")
            const table_contactlist = document.getElementById("table-contactlist")


            if (show_block_listed) {
                title.textContent = 'CONTACTS'


                search.placeholder = 'Search Contacts'

                button.textContent = 'Blocklist'
                button.classList.add('toBlockList')
                button.classList.remove('toContactList')

                table_blocklist.classList.add("d-none")
                table_contactlist.classList.remove("d-none")

                add_button.classList.add("d-none")

                show_block_listed = false;
            } else {
                title.textContent = 'BLOCKLIST'

                search.placeholder = 'Search Blocklist'

                button.textContent = 'Contacts'
                button.classList.remove('toBlockList')
                button.classList.add('toContactList')

                table_blocklist.classList.remove("d-none")
                table_contactlist.classList.add("d-none")

                add_button.classList.remove("d-none")

                show_block_listed = true;
            }
        });
    });

</script>