@page
@model ContactIndexModel
@{
Layout = "_Contacts";
ViewData["Title"] = "Contacts";
ViewData["User"] = "Admin";
}

<nav
    class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-2 py-3 py-md-3">
    <div class="container px-4" id="desktop-navbar">
        <!-- Messages dropdown button -->
        <ul class="navbar-nav me-3">
            <li class="nav-item dropdown d-none d-md-block">
                <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2"
                    href="#" id="navbarDropDownContacts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/images/icons/contacts.svg" height="30" width="30" alt="Logo"
                        class="d-inline-block align-top me-2 color-primary" />
                    <span class="txt-color-primary fs-20 fw-400 me-3 font-orange">Contacts</span>
                    <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down"
                        class="d-inline-block" />
                </a>
                <ul class="dropdown-menu dropdown-menu-lg ud-shadow bg-body-tertiary rounded border-0"
                    aria-labelledby="navbarDropDownContacts">
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/groups">
                            Groups
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/blocklist">
                            Blocklist
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/import">
                            Import
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item fs-16 ff-default font-darkgray d-flex align-items-center"
                            href="/contacts/custom-field">
                            Custom Field
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item d-block d-md-none">
                <a class="fs-5 nav-link text-dark d-flex align-items-center btn-orange border-orange py-2 px-2 px-md-3 py-md-2"
                    href="#" id="navbarDropdownOffcanvasToggle" role="button" data-bs-toggle="offcanvas"
                    data-bs-target="#contactssoffcanvasDropdown" aria-controls="offcanvasDropdown"
                    aria-expanded="false">
                    <img src="~/images/icons/contacts.svg" height="21" width="21" alt="Logo"
                        class="d-inline-block align-top ms-1 me-2 color-primary" />
                    <span class="txt-color-primary me-3 fs-16 fw-400">Contacts</span>
                    <img src="~/images/icons/arrow-down.svg" height="12" width="12" alt="arrow-down"
                        class="d-inline-block me-2" />
                </a>
            </li>
        </ul>

        <!-- Off-canvas toggle button for mobile dashboard -->
        <button class="navbar-toggler custom-toggler d-block d-lg-none pe-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#DashboardoffcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#FF5400" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-menu">
                <line x1="6" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="9" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>

        <!-- Navbar content for larger screens -->
        <div class="justify-content-end d-none d-lg-flex" id="navbarNavDropdown">
            <div class="navbar-nav d-flex flex-row dashboard-navbar">
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center txt-color-primary"
                    href="/messages">
                    <img src="~/images/icons/messages.svg" height="30" width="30" alt="Messages" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Messages</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/keyword.svg" height="30" width="30" alt="Keywords" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Keywords</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/notifications">
                    <img src="~/images/icons/notification.svg" height="30" width="30" alt="Notifications"
                        class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Notifications</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/reports.svg" height="30" width="30" alt="Reports" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Reports</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/email">
                    <img src="~/images/icons/at-mail.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Email</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/poll.svg" height="30" width="30" alt="Pollster" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Pollster</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="#">
                    <img src="~/images/icons/scheduler.svg" height="30" width="30" alt="Scheduler" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Scheduler</span>
                </a>
                <a class="nav-link box dashboard-items btn-orange border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/settings/users">
                    <img src="~/images/icons/settings.svg" height="30" width="30" alt="settings" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Settings</span>
                </a>
                <a class="nav-link box btn-orange dashboard-items border-orange d-flex flex-column align-items-center px-2 px-md-3 text-center"
                    href="/permissiondenied">
                    <img src="~/images/icons/others.svg" height="30" width="30" alt="Others" class="icon my-1" />
                    <span class="txt-color-primary fs-11 ff-microsoft-san-serif">Others</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container px-4 d-none" id="backToChat">
        <div class="d-flex flex-row justify-content-start align-items-center align-middle">
            <img src="~/images/icons/go-back.svg" height="24" width="24" alt="Logo"
                class="align-middle align-self-center me-2 color-primary" />
            <span class="font-orange fs-20">Use Template</span>
        </div>
    </div>
</nav>

<!-- Off-canvas sidebar for mobile view dashboard -->
<div class="offcanvas offcanvas-end d-block d-lg-none offcanvas-half-width border border-end-0 rounded-start d-flex flex-column"
    tabindex="-1" id="DashboardoffcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header py-2 mt-2">
        <div class="mt-4 offcanvas-title fw-bold fs-24 px-1 " id="offcanvasNavbarLabel">Dashboard</div>
    </div>
    <hr class="my-0 mx-3">
    <div class="offcanvas-body mt-4">
        <!-- Main navigation links -->
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav me-3 w-100">
                <!-- Corrected links without data-bs-toggle and unique ids -->
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center " href="/messages">
                        <img src="~/images/icons/mail-black.svg" alt="Messages" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light ">Messages</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center bg-color-E9EBEC80" href="/contacts">
                        <img src="~/images/icons/contacts.svg" alt="Contacts" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light font-orange">Contacts</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#keywords">
                        <img src="~/images/icons/keyword-black.svg" alt="Keywords" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Keywords</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/notifications">
                        <img src="~/images/icons/notification-black.svg" alt="Notifications" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Notifications</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#reports">
                        <img src="~/images/icons/reports-black.svg" alt="Reports" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Reports</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                        <img src="~/images/icons/at-mail-black.svg" alt="Email" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Email</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#pollster">
                        <img src="~/images/icons/poll-black.svg" alt="Pollster" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Pollster</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#scheduler">
                        <img src="~/images/icons/scheduler-black.svg" alt="Scheduler" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Scheduler</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/settings/users">
                        <img src="~/images/icons/settings-black.svg" alt="Settings" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Settings</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/permissiondenied">
                        <img src="~/images/icons/others-black.svg" alt="Others" height="24" width="24"
                            class="icon me-2" />
                        <span class="fs-16 fw-light">Others</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Logout link at the bottom -->
    </div>
    <div class="mt-auto my-4">
        <a class="fs-5 nav-link text-dark d-flex align-items-center" href="#logout">
            <img src="/images/icons/logout-black.svg" alt="Logout" height="21" width="24" class="icon me-2" />
            <span class="fs-16 fw-light">Logout</span>
        </a>
    </div>
</div>

<!-- Off-canvas sidebar for mobile view dashboard -->
<!-- Messages off-canvas -->
<div class="offcanvas offcanvas-bottom d-block d-md-none border border-end-0 rounded-top d-flex flex-column"
    tabindex="-1" id="contactssoffcanvasDropdown" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-body mt-2">
        <!-- Main navigation links -->
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav me-3">
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/groups">
                        <span class="fs-16 fw-light">Groups</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/blocklist">
                        <span class="fs-16 fw-light">Blocklist</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/import">
                        <span class="fs-16 fw-light">Import</span>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a class="fs-5 nav-link text-dark d-flex align-items-center" href="/contacts/custom-field">
                        <span class="fs-16 fw-light">Custom Field</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="contacts container px-4 my-2 pt-md-4 pt-2" id="contactsSection">
    <div class="d-none d-md-flex flex-column justify-content-between">
        <div class="d-flex flex-row gap-4 align-items-start justify-content-start color-495057 min-h-title mb-3">
            <div class="align-middle text-center fs-24">CONTACTS</div>
        </div>
        <div class="header d-flex flex-row gap-4 p-3 mt-1 border rounded justify-content-between">
            <div class="left d-flex flex-row">
                <form class="d-flex search-contacts">
                    <div class="input-group search-contacts">
                        <span class="input-group-text" id="search-addon">
                            <i class="bi bi-search color-878A99"></i> <!-- Search icon -->
                        </span>
                        <input class="form-control" type="search" placeholder="Search Name/Number" aria-label="Search">
                    </div>
                </form>
            </div>
            <div class="right d-flex flex-row gap-3">
                <button id="addContactBtn" data-bs-toggle="modal" data-bs-target="#addContactModal"
                    class="add-contact btn btn-fill d-flex flex-row justify-content-between align-items-center">
                    <img src="/images/icons/add-plus.svg" height="16" width="16" alt="Scheduler"
                        class="icon my-1 me-1" />
                    <span>Add a Contact</span>
                </button>
                <form class="d-flex department">
                    <div class="input-group me-1">
                        <select name="sources" id="sources" class="custom-select wide sources fs-14"
                            placeholder="Choose Department">
                            <option value="1">Public</option>
                            <option value="2">Private</option>
                            <option value="3">Department</option>
                            <option value="3">Department</option>
                            <option value="3">Department</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Mobile View -->
    <div class="mobile d-flex d-md-none flex-column gap-2">
        <div class="d-flex justify-content-between align-items-center mt-2 mb-4">
            <div class="fs-20 color-495057 mt-2">CONTACTS</div>
            <form class="d-flex department">
                <div class="input-group">
                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                        placeholder="Choose Department">
                        <option value="1">Public</option>
                        <option value="2">Private</option>
                        <option value="3">Department</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="d-flex flex-row justify-content-between gap-2 border rounded px-2 py-3">
            <form class="d-flex search-contacts">
                <div class="input-group search-contacts">
                    <span class="input-group-text" id="search-addon">
                        <i class="bi bi-search color-878A99"></i> <!-- Search icon -->
                    </span>
                    <input class="form-control" type="search" placeholder="Search Name/Number" aria-label="Search">
                </div>
            </form>
            <div class="d-flex">
                <button type="button" id="addContactMobileBtn"
                    class="add-contact btn btn-fill d-flex flex-row justify-content-between align-items-center fs-14">
                    <img src="/images/icons/add-plus.svg" height="16" width="16" alt="Add Contact"
                        class="icon my-1 me-1" />
                    <span>Add Contact</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Table -->
    <div class="table-responsive templates-table group border">
        <div class="scroll">
            <table class="table">
                <thead class="templates-table-header group thead-fixed">
                    <tr>
                        <th><input type="checkbox" class="users-select-checkbox"></th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Mobile Number</th>
                        <th>Creator</th>
                        <th>Privacy</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="templates-table-body group">
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="users-select-checkbox"></td>
                        <td>BALEAN</td>
                        <td>ALIYAH</td>
                        <td>09958936745</td>
                        <td>Admin</td>
                        <td>
                            <form class="d-flex justify-content-center privacy">
                                <div class="input-group me-1">
                                    <select name="sources" id="sources" class="custom-select wide sources fs-14"
                                        placeholder="Department">
                                        <option value="1">Public</option>
                                        <option value="2">Private</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                        <option value="3">Department</option>
                                    </select>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn action users-group btn-edit font-orange fs-14" type="button">
                                <img src="/images/icons/edit-outline.svg" class="more-icon" alt="edit" height="16"
                                    width="16">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Pagination and Delete Button -->
    <div class="pagination d-none d-md-block">
        <div class="d-flex justify-content-between align-items-center">

            <div class="d-flex justify-content-between align-items-center my-3 fs-14">
                <!-- Show X to Y of Z text -->
                <div class="me-2">
                    Show
                    <span id="items-range">1 to 10</span>
                    of <span id="total-items">240</span>
                </div>
                <!-- Items per page dropdown -->
                <div class="d-flex align-items-center">
                    <select name="sources" id="sources" class="custom-select sources" placeholder="10">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination m-0">
                        <li class="page-item">
                            <a class="page-link reverse-icon" href="#"><i
                                    class="bi bi-skip-forward font-orange"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link reverse-icon" href="#"><i
                                    class="bi bi-play font-orange"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link color-212529" href="#">1</a></li>
                        <li class="page-item"><a class="page-link color-ced4da" href="#">2</a></li>
                        <li class="page-item"><a class="page-link color-ced4da" href="#">3</a></li>
                        <li class="page-item"><a class="page-link color-ced4da" href="#">4</a></li>
                        <li class="page-item"><a class="page-link color-ced4da" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-play font-orange"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="bi bi-skip-forward font-orange"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div>
            <button class="btn btn-outline fs-14 d-flex flex-row align-items-center color-495057">
                <img src="~/images/icons/delete-outline.svg" height="18" width="18" alt="Logo"
                    class="d-inline-block align-top me-1" />
                <span class="font-orange">
                    Delete
                </span>
            </button>
        </div>
    </div>
    <!-- Pagination and Delete Button -->
    <div class="pagination d-block d-md-none container-fluid px-0">
        <div class="row align-items-center">

            <!-- Pagination (Col 2) -->
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center my-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination m-0 gap-2">
                        <li class="page-item">
                            <a class="page-link border-0 reverse-icon border-0" href="#"><i
                                    class="bi bi-skip-forward color-878A99"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link border-0 reverse-icon" href="#"><i
                                    class="bi bi-play color-878A99"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link border-0 color-212529" href="#">1</a></li>
                        <li class="page-item"><a class="page-link border-0 color-ced4da" href="#">2</a></li>
                        <li class="page-item"><a class="page-link border-0 color-ced4da" href="#">3</a></li>
                        <li class="page-item"><a class="page-link border-0 color-ced4da" href="#">4</a></li>
                        <li class="page-item"><a class="page-link border-0 color-ced4da" href="#">5</a></li>
                        <li class="page-item"><a class="page-link border-0" href="#"><i
                                    class="bi bi-play font-orange"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link border-0" href="#"><i
                                    class="bi bi-skip-forward font-orange"></i></a></li>
                    </ul>
                </nav>
            </div>

            <!-- Items Range and Per Page Dropdown (Col 1) -->
            <div class="d-flex justify-content-between align-items-center mt-2 flex-wrap">
                <div class="d-flex justify-content-start align-items-center flex-wrap">
                    <div class="d-flex align-items-center my-2 fs-14">
                        <!-- Show X to Y of Z text -->
                        Show <span id="items-range" class="mx-1 fs-14">1 to 10 </span>of<span id="total-items"
                            class="fs-14 mx-2">240</span>
                    </div>
                    <!-- Items per page dropdown -->
                    <div class="d-flex align-items-center">
                        <select name="sources" id="sources" class="custom-select sources" placeholder="10">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                        </select>
                    </div>

                </div>
                <div class="d-flex justify-content-md-end justify-content-start align-self-start">
                    <button
                        class="btn btn-outline d-flex flex-row justify-content-center align-items-center color-495057 py-2">
                        <img src="~/images/icons/delete-outline.svg" height="18" width="18" alt="Logo"
                            class="d-inline-block align-top me-2" />
                        <span class="font-orange ff-default fs-14">
                            Delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <div class="modal-title fs-20 font-orange" id="addContactModalLabel">Add Contact</div>
                <button type="button" class="custom-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body (Form) -->
            <form>
                <div class="modal-body">
                    <div class="mb-3" id="ContactPrivacy">
                        <label for="adminRole" class="form-label fs-15"> <span class="font-red me-1">*</span>Contact
                            Privacy</label>
                        <select name="sources" id="contactPrivacySelect" class="custom-select wide users sources"
                            placeholder="">
                            <option value="User Groups">User Groups</option>
                            <option value="Placeholder">Placeholder</option>
                            <option value="Placeholder">Placeholder</option>
                            <option value="Placeholder">Placeholder</option>
                        </select>
                    </div>
                    <!-- User Groups -->
                    <div class="mt-1 mb-3 d-none" id="user-groups-container">
                        <label for="userGroups" id="user-groups-label" class="form-label fs-15 d-none"><span
                                class="font-red">*
                            </span>User Groups</label>
                        <div id="user-groups-scroll-area" class="scroll border rounded "></div>

                    </div>
                    <!-- Mobile Number -->
                    <div class="mb-3">
                        <label for="mobileNumber" class="form-label fs-15">
                            <span class="font-red me-1">*</span>Mobile Number</label>
                        <input type="text" class="form-control" id="mobileNumber">
                    </div>

                    <!-- First and Last Name (Two Columns) -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label fs-15"> <span class="font-red me-1">*</span>First
                                Name</label>
                            <input type="text" class="form-control" id="firstName">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label fs-15"> <span class="font-red me-1">*</span>Last
                                Name</label>
                            <input type="text" class="form-control" id="lastName">
                        </div>
                    </div>

                    <!-- Email Address -->
                    <div class=" mb-3">
                        <label for="emailAddress" class="form-label fs-15"><span class="font-red me-1">*</span>Email
                            Address</label>
                        <input type="email" class="form-control" id="emailAddress">
                    </div>

                    <div class=" mb-3">
                        <label for="birthday" class="form-label fs-15"> <span
                                class="font-red me-1">*</span>Birthday</label>
                        <div class="input-group">
                            <span class="input-group-text" id="dateIcon">
                                <i class="bi bi-calendar"></i>
                            </span>
                            <input type="date" id="dateInput" class="form-control custom-date-input" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer users border-0 gap-1">
                    <button type="button" class="btn btn-outline" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-fill">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="addContactMobileSection" class="d-none container mt-4 px-2 pb-0">
    <div class="mt-2 px-2">
        <div class="d-flex flex-column pb-0">
            <div class="header d-flex flex-row justify-content-between mb-4 pe-2 me-1">
                <div class="title fs-20" id="addContactModalLabel">ADD CONTACT</div>
                <button type="button" class="custom-close" id="closeContactBtn"></button>
            </div>
            <div class="scroll-y pe-2">
                <form>
                    <div class="d-flex flex-column">

                        <div class="row mb-3 " id="ContactPrivacyMobile">
                            <label for="adminRole" class="form-label fs-15">
                                <span class="font-red">* </span>Contact Privacy</label>
                            <select name="sources" id="contactPrivacySelectMobile"
                                class="custom-select wide users sources" placeholder="">
                                <option value="User Groups">User Groups</option>
                                <option value="Placeholder">Placeholder</option>
                                <option value="Placeholder">Placeholder</option>
                                <option value="Placeholder">Placeholder</option>
                            </select>
                        </div>
                        <div class="mt-1 mb-3 d-none" id="user-groups-container-mobile">
                            <label for="userGroups" id="user-groups-label-mobile" class="form-label fs-15 d-none"><span
                                    class="font-red">*
                                </span>User Groups</label>
                            <div id="user-groups-scroll-area-mobile" class="scroll border rounded "></div>

                        </div>
                        <!-- Mobile Number -->
                        <div class="mb-3">
                            <label for="mobileNumber" class="form-label fs-15"><span class="font-red">*
                                </span>Mobile
                                Number</label>
                            <input type="text" class="form-control" id="mobileNumber">
                        </div>

                        <!-- First and Last Name (Two Columns) -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName" class="form-label fs-15"><span class="font-red">*
                                    </span>First
                                    Name</label>
                                <input type="text" class="form-control" id="firstName">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName" class="form-label fs-15"><span class="font-red">* </span>Last
                                    Name</label>
                                <input type="text" class="form-control" id="lastName">
                            </div>
                        </div>

                        <!-- Email Address -->
                        <div class=" mb-3">
                            <label for="emailAddress" class="form-label fs-15"><span class="font-red">* </span>Email
                                Address</label>
                            <input type="email" class="form-control" id="emailAddress">
                        </div>

                        <div class=" mb-3" id="birthdayDateContainer">
                            <label for="birthday" class="form-label fs-15"><span class="font-red">*
                                </span>Birthday</label>
                            <div class="input-group">
                                <span class="input-group-text" id="dateIconMobile">
                                    <i class="bi bi-calendar"></i>
                                </span>
                                <input type="date" id="dateInputMobile"
                                    class="form-control custom-date-input color-878A99" />
                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="d-flex flex-row align-self-end border-0 gap-3 mt-4">
                <button type="button" class="btn btn-outline" id="cancelAddContactBtn">Cancel</button>
                <button type="submit" class="btn btn-fill">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/form-select.js"></script>

<script>
    OverlayScrollbars(document.querySelectorAll('.scroll'), {
        scrollbars: {
            visibility: 'visible',
        },
        overflowBehavior: {
            y: "scroll",
            x: "scroll"
        },
    });
    OverlayScrollbars(document.querySelectorAll('.scroll-y'), {
        scrollbars: {
            visibility: 'visible',
        },
        overflowBehavior: {
            y: "scroll",
            x: "hide"
        },
    });
</script>


<script>
    document.getElementById("dateIcon").addEventListener("click", function () {
        document.getElementById("dateInput").showPicker();
    });
    document.getElementById("dateIconMobile").addEventListener("click", function () {
        document.getElementById("dateInputMobile").showPicker();
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('addContactMobileBtn').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('contactsSection').classList.add('d-none');
            document.getElementById('addContactMobileSection').classList.remove('d-none');
        });

        document.getElementById('cancelAddContactBtn').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('addContactMobileSection').classList.add('d-none');
            document.getElementById('contactsSection').classList.remove('d-none');
        });
        document.getElementById('closeContactBtn').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('addContactMobileSection').classList.add('d-none');
            document.getElementById('contactsSection').classList.remove('d-none');

        });
    });

</script>

<script>
    const userGroups = [
        { id: "checkbox_it", label: "IT" },
        { id: "checkbox_HR", label: "HR" },
        { id: "checkbox_Accounting", label: "Accounting" },
        { id: "checkbox_Placeholder", label: "Placeholder" }
    ];

    // Toggle visibility and dynamically populate User Groups container
    function toggleUserGroupsContainer(containerId, labelId, scrollAreaId, isMobile = false) {
        const userGroupsContainer = document.getElementById(containerId);
        const contactPrivacy = document.getElementById(isMobile ? "ContactPrivacyMobile" : "ContactPrivacy");

        const customOptions = contactPrivacy.querySelectorAll(".custom-option");

        customOptions.forEach(option => {
            option.addEventListener("click", () => {
                if (option.dataset.value === "User Groups") {
                    userGroupsContainer.classList.remove('d-none');
                    createUserGroupsContainer(containerId, labelId, scrollAreaId);
                } else {
                    userGroupsContainer.classList.add('d-none');
                    clearUserGroupsContainer(scrollAreaId, labelId);
                }
            });
        });
    }

    // Function to create the User Groups container dynamically
    function createUserGroupsContainer(containerId, labelId, scrollAreaId) {
        const label = document.getElementById(labelId);
        const scrollArea = document.getElementById(scrollAreaId);

        // Select the first `.os-content` element
        const content = scrollArea.querySelector(".os-content");

        label.classList.remove('d-none');
        label.classList.add('d-block');
        scrollArea.style.minHeight = "42px";
        scrollArea.style.maxHeight = "120px";

        // Add user groups dynamically
        userGroups.forEach(group => {
            const groupDiv = document.createElement("div");
            groupDiv.className = "d-flex flex-row justify-content-start align-items-center text-center py-2 px-2";

            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.id = group.id;
            checkbox.className = "me-2";

            const groupLabel = document.createElement("label");
            groupLabel.className = "fs-15";
            groupLabel.htmlFor = group.id;
            groupLabel.textContent = group.label;

            groupDiv.appendChild(checkbox);
            groupDiv.appendChild(groupLabel);
            content.appendChild(groupDiv); // Append to the selected `.os-content`
        });
    }

    // Function to clear the User Groups container
    function clearUserGroupsContainer(scrollAreaId, labelId) {
        const scrollArea = document.getElementById(scrollAreaId);
        const content = scrollArea.querySelector(".os-content");

        // Remove all child nodes
        while (content.firstChild) {
            content.removeChild(content.firstChild);
        }

        const label = document.getElementById(labelId);
        label.classList.remove('d-block');
        label.classList.add('d-none');
    }

    // Initialize toggle behavior for desktop and mobile
    toggleUserGroupsContainer("user-groups-container", "user-groups-label", "user-groups-scroll-area");
    toggleUserGroupsContainer("user-groups-container-mobile", "user-groups-label-mobile", "user-groups-scroll-area-mobile", true);
</script>